<template>
    <require from="./item-list.scss"></require>
    <require from="../../../../resources/value-converters/currency-format"></require>
  

  
    <div class="item-list">
      <ul class="list-group">
        <li repeat.for="item of displayitems"  class="list-group-item" >
            <a>
              
              <div class="container">
                  <div class="middle-content" click.delegate="$parent.addButtonClick(item.item)">
                      <h4 class="itemtitle">${item.item.title}</h4>
                      <p >${item.item.description}</p>
                  </div>
          
                  <div class="inner-content">
                    <h4 class="itemtitle" style="display: inline-block;  padding: 5px">£${item.item.price | currencyFormat} </h4>
                   <button style="display: inline-block;" click.delegate="$parent.minusButtonClick(item)">-</button>
                    <h4 style="display: inline-block; padding: 5px " class="itemtitle">${item.quantity}</h4>
                    <button style="display: inline-block;" click.delegate="$parent.addButtonClick(item)">+</button>
                  </div>  
              </div>
          
  
            </a>
       
        </li>
      </ul>
    </div>

  </template>
  