.basket-list {

  border: 1px solid #ddd;
  padding: 10px;

}


li.list-group-item {
  list-style: none;
  border: 1px solid #ddd;
  text-align: center;
  text-decoration: solid;
  padding: 10px;
}

.baskettitle {
  font-size: 30px;
  text-decoration: solid;
}

// .container {
//   display: flex;
// }

.quantity {
  float: right;
  font-size: 30px;
}

.inner-content {
  margin: auto;
  display: flex;
}

.middle-content {
  flex: 0 0 85%;
}

li.list-group-item>a {
  text-decoration: none;
}

li.list-group-item.active>a {
  color: white;
}

li.list-group-item.active {
  color: blue;
  background-color: #2d98fc;
}
