<template>
  <h2 class="title">Order</h2>
  <table class="table is-stripped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Filetitos</td>
        <td>1</td>
        <td>£5.90</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Total</th>
        <th>
          <!-- total price goes here -->
          £5.90
        </th>
      </tr>
    </tfoot>
  </table>
</template>
