<template>
    <require from="./basket-list.scss"></require>
    <require from="../../../resources/value-converters/currency-format"></require>
  
    
    <div class="basket-list">
      <ul class="list-group">
        <li repeat.for="item of basketlist" class="list-group-item">
          <div class="container">
              <div class="middle-content">
                  <h4 class="baskettitle">${item.item.title}</h4>
                          </div>
              <div class="inner-content">
                  <h4 class="itemtitle" style="display: inline-block;  padding: 5px">£${item.item.price * item.quantity | currencyFormat} </h4>
                  <button style="display: inline-block;" click.delegate="$parent.minusButtonClick(item)">-</button>
                   <h4 style="display: inline-block; padding: 5px " class="itemtitle">${item.quantity}</h4>
                   <button style="display: inline-block;" click.delegate="$parent.addButtonClick(item)">+</button>
                   
              </div>
              <div class="inner-content is-pulled-right" style="margin-left: 5%">
                  <button class="delete is-medium " style="padding: 5px" click.delegate="deleteClick(item)"></button>
     
         
                </div>

          </div>       
        </li>
     
      </ul>
    </div>
    
</template>
