<template>
    <require from="./basket-list.scss"></require>
    
    <div class="basket-list">
      <ul class="list-group">
        <li repeat.for="item of basketlist" class="list-group-item">
          <div class="container">
              <div class="middle-content">
                  <h4 class="baskettitle">${item.item.title}</h4>
                          </div>
              <div class="inner-content">
               <h4 class="quantity" style="display: inline-block">${item.quantity}</h4>
              </div>
     
          </div>       
        </li>
     
      </ul>
    </div>
    
</template>
