<template>
    <require from="../components/basket-list"></require>
    <require from="./basket-layout.scss"></require>
    <require from="../../../resources/value-converters/currency-format"></require>

    <div class="basketdiv">
        <basket-list basketlist.two-way="basketlist">

        </basket-list>

    </div>

    <div class="container">
      <h4 class="title" style="padding: 5px">£${baskettotal | currencyFormat}</h4>

    </div>

    <div>
      <button class="button is-large" style="float: right; margin-right: 50px; margin-top: 10px;">Place Order</button>
    </div>

</template>
